name: CI/CD

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  backend_flask:
    name: Backend (Flask)
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - uses: actions/checkout@v3

      # Set up Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      # Install Python dependencies
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      # Step 3: Lint Python code
      - name: Lint Python code
        run: |
          pip install flake8
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      # Step 4: Run Python tests
      - name: Run Python tests
        run: |
          pytest -v

  deploy:
    name: Deploy & Push to Docker Hub
    needs: [backend_flask]
    runs-on: ubuntu-latest
    environment: production
    
    steps:
        - uses: actions/checkout@v3

        - name: List repository files
          run: ls -al

        - name: Build Docker Image
          run: |
            docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/backend_flask:latest .

        - name: Log in to Docker Hub
          run: |
            echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login --username ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

        - name: Push Docker Image
          run: |
            docker push ${{ secrets.DOCKERHUB_USERNAME }}/backend_flask:latest